@import "tailwindcss";

@theme {
  --color-background: oklch(0.9524 0.0045 214.33);
  --color-p: oklch(0.5452 0 0);
}

/* project page */
.project-container {
  @apply flex flex-row mt-10 px-5 pb-20 bg-background md:pl-10 md:pr-20 md:gap-x-10;
}

.navigator {
  @apply hidden md:block w-auto mr-2;
}

.project {
}
.project-header {
  @apply border-l-5 md:border-l-15 pl-5;
}

.project-name {
  @apply text-2xl md:text-5xl font-serif mb-3;
}

.project-subheading {
  @apply text-sm md:text-2xl text-p;
}

.project-github {
  @apply text-sm;
}

.project-heading {
  @apply text-xl md:text-4xl font-serif mt-4 mb-5;
}

.project-text {
  @apply text-sm pl-5 md:text-[1.625rem] md:pl-10;
}

.project-section {
  @apply mb-5 w-full;
}

.project-sub-subheading {
  @apply text-lg mb-3 mt-3 md:text-3xl;
}

.project-sub-subheading-paragraph {
  @apply text-p;
}

.project-pics {
  @apply flex justify-center mb-3;
}

.project-unordered-list {
  @apply list-disc ml-2 md:ml-5 text-p;
}

.bubble-style {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 20px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  width: max-content;
  max-width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  user-select: none;
}

@media (max-width: 640px) {
  .bubble-style {
    padding: 12px;
    font-size: 14px;
    max-width: 90vw;
    border-radius: 10px;
  }
}
